<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL SHORTNER</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
    form{
        border: 1px;
        border-radius: 25%;
    }
    a{
        text-decoration: none;
       }
    body{
        margin: 2%;
        align-items: center;
    }
    input{
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            }
    input.login{
        width: 10%;
        background-color: aliceblue;
        border-radius: 15%;
        }
   
    </style>
</head>
<body>
    
{% if user.is_authenticated %}
<div class="alert alert-dark" role="alert">
    successfully loggedin!!!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

  </div>

    <h1>Url Shortner App</h1>
    <h2>Welcome {{user|title}}</h2>
    
    <form method="POST" action="{% url 'urlshort:home'%}">
        {% csrf_token %}
        <p>Enter link to shorten</p>
        <input type="url" name="url" id="" placeholder="Enter Long url in this field"><br>
        <br>
        <button type="submit" class="btn btn-light"
        >make it short</button>
        <br>
        <br>
    </form>
    
    {% if error_message%}
    <div class="alert alert-dark" role="alert">
      <p>{{error_message}}</p>
    </div>
    {%endif%}
    {% if short_ur %}
    <p>Your shorten url is :<a href="{{short_ur}}">{{short_ur}}</a></p><br>
    {% endif %}
    <a href="{%url 'urlshort:details'%}"> View Details</a>
    <br>
    <br>
    <a href="{% url 'urlshort:logout'%}" ><input type="submit" value="Logout" class="login"></a> 
 {%endif%}
</body>
</html> 