<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
        
<style>
    form{
        border: 1px;
        border-radius: 25%;
        
        
    }
    input{
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            }
    input.login{
        width: 10%;
        background-color: aliceblue;
        border-radius: 15%;
    }
    a{
        text-decoration: none;
        text-shadow: black;
       }
    body{
        margin: 1%;
        align-items: center;
    }
</style>

<body>

    {% if user.is_authenticated%}
    <div class="alert alert-dark" role="alert">
        Your are already loggedin!!!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

        <a href="{%url 'urlshort:home'%}">back to home</a>
        
    {%else%}
    {%if messages%}
            {%for message in messages %}
            <div class="alert alert-dark" role="alert">
                    {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            
              </div>
            {%endfor%}
        {%endif%}
    <form action="" method="POST">
        {% csrf_token %}

        <label for="email">Email</label><br>
        <input type="email" name="email" id="" placeholder="Enter Your email">
        <br><br>
        <label for="password">New Password</label><br>
        <input type="password" name="password" id="" placeholder="enter your password">
        <br><br>
        <input type="submit" value="Login" class="login">
        <br><br>
        <a href="{%url 'urlshort:register'%}"> Donot have account??</a>
        

        
{%endif%}
    </form>
</body>
</html>